<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.IEditorInput"
            id="TesinaPlugin.contribution1"
            nameFilter="*.ocl.oclas">
         <menu
               label="Traducir"
               path="additions"
               id="TesinaPlugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Traducir OCL a LN"
               class="tesinaplugin.popup.actions.Traducir"
               menubarPath="TesinaPlugin.menu1/group1"
               enablesFor="1"
               id="TesinaPlugin.newAction">
         </action>
      </objectContribution>
    </extension>

</plugin>
