/.LenguajeNaturalReducidoRuntimeModule.java._trace
/.LenguajeNaturalReducidoRuntimeModule.xtendbin
/.LenguajeNaturalReducidoStandaloneSetup.java._trace
/.LenguajeNaturalReducidoStandaloneSetup.xtendbin
/LenguajeNaturalReducidoRuntimeModule.java
/LenguajeNaturalReducidoStandaloneSetup.java
