/.LenguajeNaturalReducidoDescriptionLabelProvider.java._trace
/.LenguajeNaturalReducidoDescriptionLabelProvider.xtendbin
/.LenguajeNaturalReducidoLabelProvider.java._trace
/.LenguajeNaturalReducidoLabelProvider.xtendbin
/LenguajeNaturalReducidoDescriptionLabelProvider.java
/LenguajeNaturalReducidoLabelProvider.java
